* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background: #0f172a;
  color: white;
}
header {
  background: #020617;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: #38bdf8;
}
nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: #38bdf8;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}
.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}
.hero h2 {
  font-size: 45px;
}
.hero span {
  color: #38bdf8;
}
.btn {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
section {
  padding: 60px 50px;
}
.skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  list-style: none;
}
.skills li {
  background: #1e293b;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.projects .card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
}
.contact input, .contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
